<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="listaArticulos" padding>
  <div *ngFor="let articulo of listaArticulos">
    <ion-card (click)="goToNewsDetail(articulo)">
      <ion-card-header>
        <ion-card-subtitle>{{articulo.source.name}}</ion-card-subtitle>
        <ion-card-title>{{articulo.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{articulo.description}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
